@let vm = store.orderDetailHeaderVm();
@let vmPos = store.orderDetailPositionsVm();
@let vmAddPart = store.buildOrdersDetailAddPartVm();
<div class="content">
  <app-order-header
    [order]="vm"
    (orderTypeChange)="onOrderTypeChange($event)"
    (orderStatusChange)="onOrderStatusChange($event)"
    (deliveryDealerChange)="onDeliveryDealerChange($event)"
    (invoiceDealerChange)="onInvoiceDealerChange($event)"
    (saveHeader)="onSave()"
  ></app-order-header>
  <app-order-positions
    [positionsVm]="vmPos"
    [newPartVm]="vmAddPart"
    (searchPart)="onSearchPart($event)"
    (clearPart)="onClearPart()"
    (addPart)="onAddPart()"
  ></app-order-positions>
</div>
